.example-container {
    display: flex;
    flex-direction: column;
  }
  .mat-toolbar.mat-primary {
    background: mediumseagreen;
    color: white;
}
  .example-container > * {
    width: 50%;
  }
  .container {
    justify-content: space-between;
    flex-direction: column;
    height: 10vh;
    display: flex;
  }
  .container .btn-holder {
    justify-content: flex-end;
    display: flex;
  }
  .flex-class {
    flex: 1 1 auto;
  }
.mat-toolbar-class{
    color:white;
}
mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}
.signin-content {
  padding: 60px 1rem;
}
.full-width-input {
  width: 100%;
}